<html>
	<body>
		<div><%= @result.creator %></div>
		<div><%= @result.typeOfResource %></div>
		<div><%= @result.relatedTitle %></div>
		<div><%= @result.dateCreated %></div>
		<div><%= @result.identifier %></div>
		<div><%= @result.url %></div>
		<div><%= @result.title %></div>
		<div><%= @result.notes %></div>
	</body>
</html>