<html>
	<body>
		<% @fsm_images_texts.each do |res| %>
			<div><%= res.creator %></div>
			<div><%= res.typeOfResource %></div>
			<div><%= res.relatedTitle %></div>
			<div><%= res.dateCreated %></div>
			<div><%= res.identifier %></div>
			<div><%= res.url %></div>
			<div><%= res.title %></div>
			<div><%= res.notes %></div>
		<% end %>
		<% @audios.each do |audio| %> 
			<div><%= audio.url %></div>
			<div><%= audio.filename %></div>
			<div><%= audio.id %></div>
		<% end %>
	</body>
</html>