<html>
	<body ng-controller="GalleryGridCtrl">
    <div class="row">
        <div class="row">
            <div class="form">
                <div class="large-12 columns">
                    <div class="row collapse">
                        <div class="small-10 columns">
                            <label>
                            Search
                            </label>
                            <input type="text" placeholder="Search">
                        </div><!-- end small-10 -->
                        <div class="small-2 columns"><!--small-2-->
                            <a class="button postfix">
                                Search
                            </a>
                        </div><!--end small-2-->
                     </div><!-- end collapse -->
                 </div><!-- end large-12 columns -->
            </div><!-- end form -->
        </div><!-- end row -->
    </div><!-- end row-->
    <div class="row" masonry>
        <div class="masonry-brick" ng-repeat="brick in bricks">
            <a ng-href="{{ brick.url }}">
                <img ng-src="{{ brick.url }}" alt="Image"/>
            </a>
        </div>
    </div>

		<!--<% @fsm_images_texts.each do |res| %>
			<div><%= res.creator %></div>
			<div><%= res.typeOfResource %></div>
			<div><%= res.relatedTitle %></div>
			<div><%= res.dateCreated %></div>
			<div><%= res.identifier %></div>
			<div><%= res.url %></div>
			<div><%= res.title %></div>
			<div><%= res.notes %></div>
		<% end %>
		<% @audios.each do |audio| %> 
			<div><%= audio.url %></div>
			<div><%= audio.filename %></div>
			<div><%= audio.id %></div>
        <% end %> -->
	    <% @images_only.each do |res| %>
			<% res["fsmImageUrl"].each do |pic| %> 
				<%= image_tag pic %>
			<% end %> 
		<% end %>

		<%#<% @html_texts.each do |text| %> %>
			<%#<div><%= text.html_safe %></div>%>
		<%#<% end %>%>
	</body>
</html>
